@tailwind base;
@tailwind components;
@tailwind utilities;


:root[data-theme='light'] {
--bg: #f8fafc; /* slate-50 */
}
:root[data-theme='dark'] {
--bg: #0f172a; /* slate-900 */
color-scheme: dark;
}


body { background: var(--bg); }